.message{
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

/*If I login(sender just like in messenger) it will be on right side and blue*/
.message__user{
    margin-left: auto;
    color: white;
    text-align: left!important;
}

.message_userCard {
    background-color: #0b81ff!important;
}

.message__guestCard {
    background-color: #e9e9eb!important;
    color: black!important;
}