.App {
  text-align: center;
}

.App >img{
  padding-top: 10px;
}

.app__form {
  padding: 20px;
  position: fixed;
  bottom: 0px;
  z-index: 1;/*make input field and msg to front or prominent*/
  background-color: #e9e9eb;
  width: 93.5%;
  margin: 20px;
}

.app__formControl{
  display: flex!important;
  flex-direction: row!important;
}

.app__input{
  flex:1
}

.app__iconButton{
  flex: 0;
}